$lightBlue: #f1f8ff;
$borderRD: 8px;
$textColor: #5e5e5e;

@mixin hover($bgcolor) {
    &:hover {
        background-color: $bgcolor;
    }
}



.menuContainer {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #daddde;

    .productCategoriesContainer {

        width: 160px;
        border-radius: $borderRD;

        @include hover($lightBlue);

        .productCategories {
            text-decoration: none;
            color: $textColor;
            font-size: 13px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            span {
                font-size: 14.5px;
                padding-right: 10px;

            }
        }


        .AiOutlineMenu {
            font-size: 18px;
            display: inline-flex;
            height: 50px;
            align-items: center;
        }



    }

    .offContainer {


        display: flex;
        align-items: center;

        color: #909394;
        text-decoration: none;
        width: fit-content;

        span {
            padding-right: 7px;
            font-size: 13px;
            font-weight: 600;

        }

        .MLogo {
            font-size: 19px;

        }
    }

    .bestSellers {
        @extend .offContainer;
    }
}


.layer {
    display: none;
}

.productCategoriesContainer:hover .layer {
    display: block;
    z-index: 10;



}