.contentsContainer {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 30px 40px;
  box-shadow: 0px 0px 0px gray;
  border: 1px solid rgb(227, 227, 227);
  height: 402px;
  width: 550px;
}
@media ((min-width: 650px) and (max-width: 1000px)) {
  .contentsContainer {
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    width: 450px;
  }
}
@media ((min-width: 450px) and (max-width: 650px)) {
  .contentsContainer {
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    width: 247px;
    padding: 30px 2px;
  }
}
@media ((min-width: 320px) and (max-width: 450px)) {
  .contentsContainer {
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    gap: 20px;
    padding: 26px 15px;
    width: 198px;
  }
}
.contentsContainer .contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contentsContainer .contents .khat {
  font-size: 25px;
  padding-left: 10px;
  color: rgb(46, 144, 242);
}
@media ((min-width: 100px) and (max-width: 500px)) {
  .contentsContainer .contents .khat {
    font-size: 16px;
  }
}
.contentsContainer .contents .headerContent {
  font-size: 17px;
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-weight: 600;
}
@media ((min-width: 500px) and (max-width: 740px)) {
  .contentsContainer .contents .headerContent {
    font-size: 14.5px;
  }
}
@media ((min-width: 100px) and (max-width: 500px)) {
  .contentsContainer .contents .headerContent {
    font-size: 12.5px;
  }
}
.contentsContainer .contents .headerContent:hover {
  color: rgb(46, 144, 242);
}
.contentsContainer .contents .linkContent {
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  color: #717171;
}
@media ((min-width: 500px) and (max-width: 740px)) {
  .contentsContainer .contents .linkContent {
    font-size: 12.5px;
  }
}
@media ((min-width: 100px) and (max-width: 500px)) {
  .contentsContainer .contents .linkContent {
    font-size: 10.5px;
  }
}
.contentsContainer .contents .linkContent:hover {
  color: rgb(46, 144, 242);
}

.gap {
  gap: 23px 40px;
}
@media ((min-width: 320px) and (max-width: 450px)) {
  .gap {
    gap: 25px 0;
  }
}
@media ((min-width: 450px) and (max-width: 650px)) {
  .gap {
    gap: 25px 0;
  }
}

.headerContent:hover {
  color: rgb(28, 160, 217);
}

.Developing {
  border: 1px solid rgb(227, 227, 227);
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
@media ((min-width: 100px) and (max-width: 1000px)) {
  .Developing {
    border: none;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 40%;
  }
}
.Developing .notification {
  text-shadow: -1px 11px 7px #9b9b9b;
  color: rgb(204, 204, 204);
  font-size: 19px;
  width: 250px;
}
@media ((min-width: 100px) and (max-width: 700px)) {
  .Developing .notification {
    font-size: 14px;
  }
}
.Developing .notification h3 {
  padding-bottom: 10px;
  text-align: center;
}
.Developing .notification .h4 {
  text-align: center;
}/*# sourceMappingURL=MenuContents.module.css.map */