@mixin hover($Color ) {
    &:hover {
        color: $Color;
    }
}

@mixin Media($minWidth , $maxWidth ) {
    @media ((min-width:$minWidth ) and (max-width:$maxWidth)) {
        @content;
    }
}

.contentsContainer {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 30px 40px;
    box-shadow: 0px 0px 0px gray;
    border: 1px solid rgb(227, 227, 227);
    height: 402px;
    width: 550px;

    @include Media(650px, 1000px) {
        height: fit-content;
        border: none;
        width: 450px;


    }

    @include Media(450px, 650px) {
        height: fit-content;
        border: none;
        width: 247px;
        padding: 30px 2px;
    }

    @include Media(320px, 450px) {
        height: fit-content;
        border: none;
        gap: 20px;
        padding: 26px 15px;
        width: 198px;
    }



    .contents {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .khat {
            @include Media(100px, 500px) {
                font-size: 16px;

            }

            font-size: 25px;
            padding-left: 10px;
            color: rgb(46, 144, 242);
        }

        .headerContent {
            @include Media(500px, 740px) {
                font-size: 14.5px;


            }

            @include Media(100px, 500px) {
                font-size: 12.5px;


            }

            font-size: 17px;
            text-decoration: none;
            color: rgb(30, 30, 30);
            font-weight: 600;
            @include hover(rgb(46, 144, 242));
        }


        .linkContent {
            @include Media(500px, 740px) {
                font-size: 12.5px;
            }

            @include Media(100px, 500px) {
                font-size: 10.5px;


            }

            text-decoration: none;
            font-size: 15px;
            cursor: pointer;

            color: #717171;
            @include hover(rgb(46, 144, 242));

        }
    }
}

.gap {

    gap: 23px 40px;

    @include Media(320px, 450px) {
        gap: 25px 0;
    }
    @include Media(450px, 650px) {
        gap: 25px 0;
    }
}




.headerContent:hover {
    color: rgb(28, 160, 217);
}


.Developing {
    border: 1px solid rgb(227, 227, 227);
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

    @include Media(100px, 1000px) {
        border: none;
        width: fit-content;
        margin-right: 40%;
    }

    .notification {
        text-shadow: -1px 11px 7px #9b9b9b;
        color: rgb(204, 204, 204);
        font-size: 19px;
        width: 250px;

        @include Media(100px, 700px) {
            font-size: 14px;

        }

        h3 {
            padding-bottom: 10px;
            text-align: center;
        }

        .h4 {


            text-align: center;
        }
    }



}