.cardDetailsConrainer {
  display: flex;
  width: 87%;
  margin: 40px auto;
}
@media ((min-width: 0px) and (max-width: 1160px)) {
  .cardDetailsConrainer {
    display: block;
  }
}
.cardDetailsConrainer .showModalContainer {
  position: sticky;
  top: 88px;
  background-color: rgba(254, 254, 254, 0.4588235294);
}
.cardDetailsConrainer .showModal {
  display: none;
}
@media ((min-width: 300px) and (max-width: 1160px)) {
  .cardDetailsConrainer .showModal {
    display: flex;
    gap: 2.5%;
    margin-bottom: 1%;
  }
}
@media ((min-width: 300px) and (max-width: 690px)) {
  .cardDetailsConrainer .showModal {
    margin-bottom: 4%;
  }
}
.cardDetailsConrainer .showModal .showFilter, .cardDetailsConrainer .showModal .showSorting {
  padding: 5px 17px;
  color: #666666;
  display: flex;
  box-shadow: 0px 0px 4px rgba(211, 211, 211, 0.6196078431);
  align-items: center;
  justify-content: center;
  border-radius: 34px;
  cursor: pointer;
}
.cardDetailsConrainer .showModal .showFilter span, .cardDetailsConrainer .showModal .showSorting span {
  font-size: 13px;
  font-weight: 600;
}
@media ((min-width: 320px) and (max-width: 500px)) {
  .cardDetailsConrainer .showModal .showFilter span, .cardDetailsConrainer .showModal .showSorting span {
    font-size: 10px;
  }
}
@media ((min-width: 320px) and (max-width: 500px)) {
  .cardDetailsConrainer .showModal .showFilter .sfIcon, .cardDetailsConrainer .showModal .showSorting .sfIcon {
    font-size: 12px;
  }
}
.cardDetailsConrainer .showModal .showSorting {
  display: none;
  cursor: pointer;
}
@media ((min-width: 300px) and (max-width: 690px)) {
  .cardDetailsConrainer .showModal .showSorting {
    display: flex;
  }
}
.cardDetailsConrainer .containerModal {
  position: fixed;
  background-color: rgba(11, 11, 11, 0.2117647059);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  z-index: 100;
  right: 0;
  bottom: 0;
}
.cardDetailsConrainer .childModal {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #ededed;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 25px;
}
.cardDetailsConrainer .childModal .modalHeader {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #454545;
  font-weight: 600;
  height: 34px;
}
@media ((min-width: 320px) and (max-width: 625px)) {
  .cardDetailsConrainer .childModal .modalHeader {
    font-size: 13px;
  }
}
.cardDetailsConrainer .childModal .modalHeader .Cross {
  font-size: 20px;
  color: #454545;
}
@media ((min-width: 320px) and (max-width: 625px)) {
  .cardDetailsConrainer .childModal .modalHeader .Cross {
    font-size: 15px;
  }
}
.cardDetailsConrainer .childModal .modalContent {
  height: 65px;
  display: flex;
  color: #585976;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
}
@media ((min-width: 320px) and (max-width: 625px)) {
  .cardDetailsConrainer .childModal .modalContent {
    font-size: 12px;
    height: 50px;
  }
}
.cardDetailsConrainer .filterSectionContainer {
  margin-left: 30px;
  border: 1px solid #ced0cf;
  border-radius: 10px;
  padding: 8px 15px;
  flex-basis: 16%;
  height: 500px;
  position: sticky;
  top: 105px;
}
@media ((min-width: 0px) and (max-width: 1160px)) {
  .cardDetailsConrainer .filterSectionContainer {
    display: none;
  }
}
.cardDetailsConrainer .filterSectionContainer .filterSection {
  width: 222px;
}
.cardDetailsConrainer .filterSectionContainer .filterLogo {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #ced0cf;
}
.cardDetailsConrainer .filterSectionContainer .filterLogo p {
  font-size: 14.5px;
  font-weight: 600;
  color: #262626;
  padding-right: 5px;
}
.cardDetailsConrainer .filterSectionContainer .filterLogo .FilterIcon {
  font-size: 22px;
}
.cardDetailsConrainer .filterSectionContainer .categories {
  padding: 15px 0;
}
.cardDetailsConrainer .filterSectionContainer .categories .categoriesTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 6px;
}
.cardDetailsConrainer .filterSectionContainer .categories .categoriesTitle p {
  font-size: 14.5px;
  padding: 10px 0;
  color: #777777;
  font-weight: 600;
  display: inline-block;
}
.cardDetailsConrainer .cardContainer {
  flex-basis: 84%;
}
.cardDetailsConrainer .cardContainer .sortingContainer {
  width: 100%;
  padding: 0 25px;
  height: 48px;
  border-radius: 8px;
  background-color: #e9ecf3;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  justify-content: space-between;
}
@media ((min-width: 0px) and (max-width: 690px)) {
  .cardDetailsConrainer .cardContainer .sortingContainer {
    display: flex;
    justify-content: space-between;
    background-color: #e9ecf3;
    right: 0;
    align-items: center;
    width: 100%;
    height: 43px;
    position: fixed;
    border-radius: 2px;
    bottom: -36px;
    font-size: 10px;
    font-weight: 600;
    color: #515151;
  }
}
.cardDetailsConrainer .cardContainer .sortingContainer .sorting {
  display: flex;
  gap: 27px;
}
.cardDetailsConrainer .cardContainer .sortingContainer .sorting p {
  font-size: 12px;
  cursor: pointer;
}
.cardDetailsConrainer .cardContainer .sortingContainer .sorting .title {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  padding-left: 6px;
  color: rgb(34, 34, 34);
}
@media ((min-width: 0px) and (max-width: 690px)) {
  .cardDetailsConrainer .cardContainer .sortingContainer .sorting .title {
    font-size: 12px;
  }
}
.cardDetailsConrainer .cardContainer .sortingContainer .sorting .title span {
  padding-right: 5px;
}
.cardDetailsConrainer .cardContainer .sortingContainer .sorting .title .order {
  font-size: 18px;
}
.cardDetailsConrainer .cardContainer .sortingContainer .length {
  display: flex;
  font-size: 13px;
}
.cardDetailsConrainer .cardContainer .sortingContainer .length p {
  padding-right: 5px;
}
.cardDetailsConrainer .cardContainer .Card {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 13px 16px;
  gap: 13px 16px;
}

.availableG {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media ((min-width: 320px) and (max-width: 690px)) {
  .availableG {
    margin-top: 10px;
  }
}
.availableG p {
  font-size: 14px;
  font-weight: 600;
  color: #5c5c5c;
}
@media ((min-width: 320px) and (max-width: 690px)) {
  .availableG p {
    font-size: 12px;
  }
}

.switch {
  font-size: 10px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 20px;
}
@media ((min-width: 320px) and (max-width: 625px)) {
  .switch {
    font-size: 8px;
    width: 30px;
    height: 18px;
  }
}
.switch input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}
.switch input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: 0.4s;
}

.categoryDropdown {
  height: 210px;
  overflow-y: scroll;
  margin-left: 6px;
}
@media ((min-width: 320px) and (max-width: 680px)) {
  .categoryDropdown {
    height: 110px;
  }
}

.categoryDropdown::-webkit-scrollbar {
  width: 4px;
}

.categoryDropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.categoryDropdown::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 15px;
}

.categoryCheckbox {
  width: 13px;
  height: 12px;
}

.cats {
  color: #7cafc7;
  font-size: 14.5px;
  font-weight: 600;
}

.itemCategorys {
  color: #4e4e4e;
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
  height: 23px;
  padding: 0px 8px;
}
@media ((min-width: 320px) and (max-width: 690px)) {
  .itemCategorys {
    font-size: 13px;
  }
}/*# sourceMappingURL=CardDetails.module.css.map */