@mixin Media($minWidth , $maxWidth ) {
    @media ((min-width:$minWidth ) and (max-width:$maxWidth)) {
        @content;
    }
}

.FirstSectionContainer {
    position: relative;

    margin-bottom: 3.5%;
    height: fit-content;
    width: 100%;

    @include Media(100px, 1000px) {
        margin-top: 2%;
        margin-bottom: 4%;

    }

    .homeImage {
        position: unset !important;
        height: unset !important;
        border-radius: 17px;
    }
}

.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.bestMobile {
    width: 100%;
    text-align: center;
    font-size: 26px;
    height: 65px;

    @include Media(100px, 600px) {
        font-size: 22px;

    }
}

.SecondSectionContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    margin-bottom: 4%;

    @include Media(1555px, 2200px) {
        width: 55% !important;
    }

    @include Media(1000px, 1555px) {
        width: 70% !important;
    }

    gap:15px 40px;

    height: fit-content;

    .SecondSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .SecondHomeImage {

        @include Media(1000px, 1400px) {
            width: 150px !important;
            height: 145px !important;
        }

        @include Media(600px, 1000px) {
            width: 125px !important;
            height: 120px !important;
        }

        @include Media(100px, 600px) {
            width: 100px !important;
            height: 99px !important;
        }
    }

    p {
        font-size: 18px;
        color: rgb(43, 43, 43);
        font-weight: 600;
        text-align: center;

        @include Media(100px, 600px) {
            font-size: 15px;

        }
    }

}

.FifthSectionContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3.5%;
    height: fit-content;
    margin-bottom: 5%;

    @include Media(100px, 1100px) {
        flex-direction: column;
        gap: 5%;

    }

    .FifthSection {


        position: relative;
        width: 100%;
        height: fit-content;

        @include Media(100px, 1100px) {
            margin-top: 3%;


        }

        .FifthHomeImage {
            position: unset !important;
            height: unset !important;
            border-radius: 17px;

        }
    }
}

.mainContainerNinthSection {
    width: 70%;
    height: fit-content;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;

    @include Media(100px, 590px) {
        width: 95%;
    }

    .title {
        height: 58px;
        font-size: 21px;
        color: #1b2442;
    }

    .DigitalContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        grid-gap: 50px;
        gap: 50px;
        margin: 0 auto;

        .Digital {
            position: relative;
            overflow: hidden;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 16px;
            padding-bottom: 15px;
            background: hsl(211, 76%, 59%);
            background: linear-gradient(90deg, hsl(211, 76%, 59%) 0%, hsl(206, 100%, 85%) 97%);
            background: -webkit-linear-gradient(90deg, hsl(211, 76%, 59%) 0%, hsl(206, 100%, 85%) 97%);
            align-items: center;
            justify-content: center;
            border-radius: 8px;

            .textDigital {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: none;
                text-align: center;
                height: 35px;
                font-size: 15px;
                font-weight: 600;
                color: rgb(98, 136, 163);
                background: hsla(206, 100%, 85%, 1);

                background: hsla(211, 100%, 94%, 1);

                background: radial-gradient(circle, rgba(224, 239, 255, 0.345) 0%, rgba(158, 213, 255, 0.333) 100%);

                background: -moz-radial-gradient(circle, rgba(224, 239, 255, 0.297) 0%, rgba(158, 213, 255, 0.439) 100%);

                background: -webkit-radial-gradient(circle, hsla(211, 100%, 94%, 1) 0%, rgba(158, 213, 255, 0.819) 100%);



            }



        }

        .Digital:hover>.textDigital {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);


        }

    }
}

.EighthSectionContainer {
    display: flex;
    justify-content: center;
    margin: 59px auto;

    .selectedBrandsContainer {
        display: flex;
        width: fit-content;
        height: 135px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 2px solid #d4d8e2;
        overflow: hidden;

        .selectedBrands {
            width: 230px;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            color: white;
            flex-direction: column;
            background-image: linear-gradient(90deg, #0079b1, #1b3570);

            .Check {
                font-size: 32px;
            }

            h3 {
                font-size: 21px;
                padding-top: 4px;
            }
        }

        .EighthSection {
            width: 230px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #989eaa;
        }

    }
}

.MainEleventhSectionContainer {
    display: flex;
    justify-content: center;

    .EleventhSectionContainer {
        @extend.FifthSectionContainer;
        height: fit-content;
        width: 95%;

        @include Media(1000px, 1460px) {
            width: 98%;
            gap: 20px;
        }

        .EleventhSection {
            position: relative;
            width: 100%;
            height: 200px;

            .EleventhHomeImage {
                height: unset !important;

            }

            p {

                @include Media(1000px, 1460px) {
                    height: 45px;
                    font-size: 11px;
                }

                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: #333333;
                height: 55px;
                font-size: 13.5px;
                padding: 5px 8px;
                color: white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }


    }
}



.doubleContainer {
    @include Media(100px, 1100px) {}
}