$gray: #d6d8de;
$mainColor: #000000;
$textColor: #183b8dd6;
$lightBlue: #14a0de;
$iconColor: #00387b;
$delText: #8e9bbb;

$borderColor: #8c9ab9;
$ShText : rgb(34 60 120/1);

.mainContainer {
    padding: 0 135px;

    .dataProductContainer {
        margin-top: 50px;
        display: flex;

        .descriptionContainer {
            flex-basis: 72%;
            padding: 40px;
            width: 100%;
            height: 740px;
            border: 1px solid $gray;
            border-radius: 13px;
            display: flex;
            justify-content: space-between;

            .nameContainer {
                flex-basis: 57%;


                .name {
                    font-size: 18px;
                    font-weight: 600;
                    color: $mainColor ;
                    line-height: 33px;
                    height: fit-content;
                    display: table;
                    width: 599px;
                }

                .nameb {
                    font-size: 13.5px;

                    padding: 15px 0;
                    color: $textColor;
                }

                .commentContainer {
                    width: 135px;
                    border-bottom: 1px solid $gray;
                    padding-bottom: 15px;

                    .comment {

                        font-size: 15px;
                        font-weight: 600;
                        color: $mainColor;
                        padding-left: 10px;
                    }

                    .numberComment {
                        color: $lightBlue;
                        font-size: 13px;
                        font-weight: 600;
                    }
                }



            }

            .imageContainer {
                display: flex;
                flex-direction: column;
                flex-basis: 43%;
                width: 100%;
                align-items: center;
                justify-content: center;


                .prdImage {
                    flex-basis: 80%;
                    display: flex;
                    align-items: center;
                }

                .otherImage {
                    flex-basis: 20%;
                    display: flex;
                    align-items: flex-end;
                }
            }

            .mainFeatures {
                font-size: 13px;
                height: 30px;
            }

            .attributeContainer {
                width: 90%;
                height: 335px;
                border: 1px solid $gray;
                border-radius: 7px;
                background-color: #ffffff;
            }
        }

        .productDetailsContainer {
            flex-basis: 23%;
            margin: 0 auto;


            .productDetailsChild {

                width: 100%;
                height: fit-content;
                border-radius: 15px;
                box-shadow: 0px 1px 9px 0.5px #e9e9e9;
                background-color: #ffffff;
                padding: 23px 25px;


            }




        }
    }


    .caruselContainer {
        width: 100%;
        height: fit-content;
        border: 1px solid $borderColor;
        border-radius: 25px;
        margin: 60px auto;
        overflow: hidden;
        padding: 30px 20px;

        .titleCarusel {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 70px;
            background-color: transparent;
            font-weight: 600;
            padding: 0 27px;

            p {
                font-size: 20px;

            }

            span {
                font-size: 20px;
            }

            .rjLand {
                padding-right: 10px;
            }

            .ShowAll {
                display: flex;
                align-items: center;
                font-size: 15px;
                text-decoration: none;
                color: $ShText;
                height: fit-content;


            }

            .AiOutlineLeft {

                margin-right: 10px;
                font-size: 14px;
            }
        }
    }




    .informationProductContainer {}
}