$gray: #d5dddf;
$bGray: #d3d8e4;
$Dblue: #909ebc;
$Rblue: #d3d8e4;
$lightBlue: #14a0de;

@mixin DF () {
    display: flex;
    align-items: center;
    justify-content: center;
}



.imagesProduct {
    @include DF();




    .mainImage {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 275px;

        .showMore {
            @include DF();

            border: 1px solid $gray ;
            background-color: transparent;
            border-radius: 7.5px;
            overflow: hidden;
            padding: 5px;

            img {
                border-radius: 7px;
            }

        }
    }










    .containerModalIMages {
        background-color: rgba(0, 0, 0, 0.326);
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
        right: 0;
        top: 0px;
        @include DF();



        .childModalIMages {
            background-color: white;
            // position: relative;
            margin: 0 auto;
            width: 63%;
            height: 650px;
            border-radius: 8.5px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding: 25px;

            .closeModalIMagesContainer {
                width: 100%;
                height: 90px;
                background-color: transparent;
                border-bottom: 1px solid $Dblue;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;

                .closeModalIMagesChild {
                    flex-basis: 40%;
                    display: flex;
                    justify-content: space-between;

                    .officialImages {
                        h3 {
                            font-size: 18.5px;

                        }
                    }

                    .closeIcon {
                        font-size: 28px;
                        color: #262626;
                    }
                }

                .bunchPhotos {
                    display: flex;
                    align-items: end;
                    width: fit-content;
                    border-bottom: 2px solid $lightBlue;
                    margin-right: 15px;
                    flex-basis: 60%;

                    p {
                        padding-bottom: 3px;
                        color: $lightBlue;
                        font-weight: 600;
                    }
                }
            }

            .containerModalSlideIMages {
                width: 100%;
                height: 100%;



                .childModalSlideIMages {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    padding-right: 27px;
                    gap: 22px;

                    .rightsideContainer {
                        display: block;
                        flex-basis: 50%;

                        .nameProduct {
                            font-size: 17px;
                            font-weight: 600;
                            height: 60px;

                        }

                        .rightside {
                            display: flex;

                            gap: 23px;

                            .slideImage {

                                @include DF();
                                width: 88px;
                                height: 88px;
                                gap: 20px;
                                border: 2px solid $Rblue ;
                                background-color: transparent;
                                border-radius: 7.5px;
                                overflow: hidden;




                                img {}

                            }
                        }
                    }


                }

                .leftSildeContainer {

                    height: 500px;
                    padding-left: 30px;
                    flex-basis: 45%;

                    .mainModalIMages {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;

                        align-items: center;


                        img {
                            margin: 0 10px;

                        }

                        .clickArrow {
                            @include DF();
                            width: 33px;
                            height: 33px;
                            border-radius: 50%;
                            box-shadow: 0 0 14px -3px rgba(0, 0, 0, .22);

                            .iconArrow {
                                font-size: 25px;
                                color: #002367;
                            }
                        }
                    }
                }


            }


        }









    }



}