.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.imgNotFound {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 80%;
    padding: 3% 0;
    flex-direction: column;
    border-radius: 30px;
    background-color: #132740;

}

.returnHomeContainer {
    width: 35%;
    text-decoration: none;
    padding: 1% 0;
    border-radius: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.returnHomeLink {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.2vw;

}

.NotFoundImage {
    position: unset !important;
    height: auto !important;
}
@media ((min-width:320px ) and (max-width:900)) {
    .returnHomeLink {
    font-size: 1.9vw;

}
}