.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.imgNotFound {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 73%;
    height: 700px;
    flex-direction: column;
    border-radius: 30px;
    background-color: #132740;

}

.returnHomeContainer {
    width: 340px;
    text-decoration: none;
    height: 55px;
    border-radius: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.returnHomeLink {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.NotFoundImage{
width: -webkit-fill-available  !important;
}
