.container {
    padding: 0 150px;
    display: flex;
    gap: 70px;
}

.rightSide {
    flex-basis: 75%;
    border: 1px solid rebeccapurple;
}

.leftSide {
    border: 1px solid rebeccapurple;
    flex-basis: 25%;
}