$lightBlue: #14a0de;
$iconColor: #00387b;
$delText: #8e9bbb;

.mainContainer {
    border: 1px solid #d1d6e3;
    border-radius: 15px;
    margin-bottom: 25px;

    .incredibleOffersLogo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 54px;

        .offerText {
            color: $lightBlue;
            font-style: italic;
            display: flex;
            align-items: center;
            font-size: 16px;
            margin-bottom: 5px;
            width: 124px;
            justify-content: center;
            padding-top: 7px;


            i {
                display: flex;
                align-items: center;
                font-size: 30px;

            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        height: 420px;
        padding: 0 40px;


        .productName {
            p {
                font-weight: 600;
                color: #222222;
                font-size: 18px;
            }
        }


        .sellerContainer {
            width: 100%;
            height: 165px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 17px;

            .iconShop {
                color: $iconColor;
                margin-left: 18px;
                font-size: 24px;
            }

            .warranty {
                display: flex;
                align-items: center;

                span {
                    font-size: 15px;
                    color: #525252;
                    font-weight: 600;

                }
            }

            .seller {
                display: flex;
                align-items: center;

                span {
                    font-size: 15px;
                    color: #525252;
                    font-weight: 600;
                    height: 28px;
                }
            }

            .store {
                display: flex;
                align-items: center;

                span {
                    font-size: 12.5px;
                    font-weight: 600;
                    color: #375475;
                }

                .sellerText {
                    padding: 0 4px;
                }
            }



        }

        .productImage {
            width: 380px;
            align-items: end;
            display: flex;
            flex-direction: column;
            gap: 40px;
            overflow: hidden;

            .productDetails {
                width: 100%;
                height: 110px;
                border: 1px solid #f0f0f0;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                padding: 15px;

                .mainPriceContainer {
                    display: flex;

                    .priceContainer {
                        display: flex;
                        width: 100%;
                        justify-content: end;
                        gap: 10px;

                        .price {
                            color: #919ebc;
                            text-decoration-line: line-through;
                            text-decoration-color: #919ebc;
                            text-decoration-thickness: 1px;
                            font-size: 15px;
                            text-align: left;
                            display: inline-block;

                        }

                        .priceWithDiscount {
                            font-weight: 600;
                            font-size: 18px;

                        }

                        .toman {
                            font-size: 12px;
                            color: #525252;
                            padding-right: 4px;

                        }

                    }

                    .priceDetail {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    }



                    .offPrcent {
                        width: 37px;
                        font-size: 13px;
                        font-weight: 600;
                        border-radius: 3px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        border-style: none;
                        flex-direction: row-reverse;
                        background-color: $lightBlue;
                        align-items: center;
                        padding-top: 3px;
                        color: rgb(241, 235, 235);

                        .prcent {

                            padding-left: 2px;
                            font-size: 15px;

                        }
                    }

                }


                .counterAndColor {
                    display: flex;
                    width: 100%;
                    height: 60px;
                    justify-content: space-between;
                    align-items: center;
                }
            }

        }


    }
}