.mainContainer {
  border: 1px solid #d1d6e3;
  border-radius: 15px;
  margin-bottom: 25px;
}
.mainContainer .incredibleOffersLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
}
.mainContainer .incredibleOffersLogo .offerText {
  color: #14a0de;
  font-style: italic;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 5px;
  width: 124px;
  justify-content: center;
  padding-top: 7px;
}
.mainContainer .incredibleOffersLogo .offerText i {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.mainContainer .container {
  display: flex;
  justify-content: space-between;
  height: 420px;
  padding: 0 40px;
}
.mainContainer .container .productName p {
  font-weight: 600;
  color: #222222;
  font-size: 18px;
}
.mainContainer .container .sellerContainer {
  width: 100%;
  height: 165px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.mainContainer .container .sellerContainer .iconShop {
  color: #00387b;
  margin-left: 18px;
  font-size: 24px;
}
.mainContainer .container .sellerContainer .warranty {
  display: flex;
  align-items: center;
}
.mainContainer .container .sellerContainer .warranty span {
  font-size: 15px;
  color: #525252;
  font-weight: 600;
}
.mainContainer .container .sellerContainer .seller {
  display: flex;
  align-items: center;
}
.mainContainer .container .sellerContainer .seller span {
  font-size: 15px;
  color: #525252;
  font-weight: 600;
  height: 28px;
}
.mainContainer .container .sellerContainer .store {
  display: flex;
  align-items: center;
}
.mainContainer .container .sellerContainer .store span {
  font-size: 12.5px;
  font-weight: 600;
  color: #375475;
}
.mainContainer .container .sellerContainer .store .sellerText {
  padding: 0 4px;
}
.mainContainer .container .productImage {
  width: 380px;
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
}
.mainContainer .container .productImage .productDetails {
  width: 100%;
  height: 110px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.mainContainer .container .productImage .productDetails .mainPriceContainer {
  display: flex;
}
.mainContainer .container .productImage .productDetails .mainPriceContainer .priceContainer {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 10px;
}
.mainContainer .container .productImage .productDetails .mainPriceContainer .priceContainer .price {
  color: #919ebc;
  text-decoration-line: line-through;
  text-decoration-color: #919ebc;
  text-decoration-thickness: 1px;
  font-size: 15px;
  text-align: left;
  display: inline-block;
}
.mainContainer .container .productImage .productDetails .mainPriceContainer .priceContainer .priceWithDiscount {
  font-weight: 600;
  font-size: 18px;
}
.mainContainer .container .productImage .productDetails .mainPriceContainer .priceContainer .toman {
  font-size: 12px;
  color: #525252;
  padding-right: 4px;
}
.mainContainer .container .productImage .productDetails .mainPriceContainer .priceDetail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mainContainer .container .productImage .productDetails .mainPriceContainer .offPrcent {
  width: 37px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  height: 20px;
  display: flex;
  justify-content: center;
  border-style: none;
  flex-direction: row-reverse;
  background-color: #14a0de;
  align-items: center;
  padding-top: 3px;
  color: rgb(241, 235, 235);
}
.mainContainer .container .productImage .productDetails .mainPriceContainer .offPrcent .prcent {
  padding-left: 2px;
  font-size: 15px;
}
.mainContainer .container .productImage .productDetails .counterAndColor {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=ShoppingCartItem.module.css.map */