$lightBlue :#14a0de;

@mixin Media($minWidth , $maxWidth ) {
    @media ((min-width:$minWidth ) and (max-width:$maxWidth)) {
        @content;
    }
}

.Container {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4%;
    border: 1.5px solid $lightBlue;
}

.contentContainer {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: .5% 3%;
    border-radius: 15px;
    background-color: $lightBlue;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 35px;

    .offerText {
        font-style: italic;
        display: flex;
        align-items: center;
        font-size: 19px;

        @include Media(100px, 600px) {
            font-size: 12px;

        }

        @include Media(600px, 1100px) {
            font-size: 14px;

        }

        @include Media(1100px, 1500px) {
            font-size: 15px;

        }
    }

    i {
        display: flex;
        align-items: center;
        font-size: 38px;

        @include Media(100px, 600px) {
            font-size: 23px;

        }

        @include Media(600px, 1100px) {
            font-size: 27px;

        }

        @include Media(1100px, 1500px) {
            font-size: 33px;

        }
    }


    .ShowAllIncredibleOffers {
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
        display: flex;
        align-items: center;
        height: 15.5px;

        @include Media(100px, 600px) {
            font-size: 10px;

        }

        @include Media(600px, 1100px) {
            font-size: 12px;

        }

        @include Media(1100px, 1500px) {
            font-size: 13.5px;

        }
    }

    .AiOutlineLeft {
        font-size: 15px;
        font-weight: 600;
        margin-right: 10px;

        @include Media(100px, 600px) {
            font-size: 11px;
            margin-right: 2px;
        }

        @include Media(600px, 1100px) {
            font-size: 12px;
            margin-right: 4px;



        }

        @include Media(1100px, 1500px) {
            font-size: 13.5px;

        }
    }
}

.ContainerCarousel {
    width: 100%;

}