$lightBlue :#14a0de;

.LinkContainer {
  text-decoration: none;
  direction: rtl;
}

.mainContainer {
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgb(225, 223, 223);
  text-decoration: none;
  width: 264px;
  height: 350px;
  text-align: right;
  padding: 0 35px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;

}

.PrdImage {}

.productName {
  font-size: 14px;
  margin: 0;
  height: 60px;
  margin-top: 18px;
  text-decoration: none;
  color: #000002;
}

.priceContainer {

  height: 3.5em;
  color: #383838;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;

  .price {

    color: #8796b8;
    text-decoration-line: line-through;
    text-decoration-color: #acb7d1;
    text-decoration-thickness: 0.1em;
    font-size: 15px;
    text-align: left;
    display: inline-block;

  }

  .mainPrice{
    @extend  .OffPrice ;
  }

  .tomanIcon {
    font-size: 12px;
    color: #8796b8;

    padding-right: 5px;
  }

  .tomanOffIcon {
    @extend.tomanIcon;
    color: #383838;
    font-weight: 600;
  }

  .OffPrice {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
  }
}

.priceDetail {
  display: flex;
  width: 100%;
  justify-content: space-between;

}



.offPrcent {
  text-align: center;
  padding-top: 2px;
  width: 2.8em;
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 3px;
  height: 1.6em;
  border-style: none;
  background-color: $lightBlue;

  color: rgb(241, 235, 235);
}

.incredibleOfferImageContainer {
  padding-top: 15px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.incredibleOfferImageContainer image {}