.basketModal {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 310px;
    border-bottom: 1px solid #dfdfdf;

}





.rightSlide {}

.productNameContainer {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 90px;
}

.productName {
    font-size: 13px;
    color: #383838;
    font-weight: 600;
}

.sellerContainer {
    width: 100%;
    height: 70px;
    justify-content: end;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.iconShop {
    color: #1c5192db;
    margin-left: 18px;
    font-size: 18px;
}



.seller {
    display: flex;
}

.seller span {
    font-size: 13px;
    color: #223c78;
    font-weight: 600;
    height: 28px;
}

.store {
    display: flex;
    align-items: center;
}

.store span {
    font-size: 11.5px;
    font-weight: 600;
    color: #3c618a;
}

.sellerText {
    padding: 0 4px;
}

.offerText {
    color: #14a0de;
    font-style: italic;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin: 8px 0;



}

.offerText i {
    display: flex;
    align-items: center;
    font-size: 25px;

}

.ShoppingCartItemCount {
    width: 76%;
}

.colorContainer {
    display: flex;
    height: 45px;
    align-items: center;
    margin-top: 6px;

}



.leftSlide {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 323px;
}

.productImage {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: end;
    height: 145px;
}

.priceContainer {
    height: 4em;
    color: #383838;
    text-align: left;
    width: 100%;
    display: flex;
    gap: 3px;
    flex-direction: column;
    margin-top: 8px;
}

.price {

    color: #8796b8;
    text-decoration-line: line-through;
    text-decoration-color: #acb7d1;
    text-decoration-thickness: 1px;
    font-size: 15px;
    text-align: left;
    display: inline-block;

}

.mainPrice {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.tomanIcon {
    font-size: 12px;
    color: #8796b8;

    padding-right: 5px;
}

.tomanOffIcon {
    color: #383838;
    font-weight: 600;
    padding-right: 5px;
    font-size: 12px;

}

.OffPrice {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}


.priceDetail {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 120px;
}



.offPrcentContainer {
    display: flex;
    justify-content: end;
}

.offPrcent {
    text-align: center;
    padding-top: 1px;
    width: 2.7em;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    height: 19px;
    display: inline;
    border-style: none;
    background-color: #14a0de;

    color: rgb(241, 235, 235);
}

.prcent {
    padding-left: 3px;
    font-size: 13px;

}

@media ((min-width:1000px) and (max-width:1300px)) {
    .basketModal {
        padding: 0 15px;
    }

    .productName {
        font-size: 12px;
    }

    .productImage img {
        width: 95px;
        height: 95px;
    }

    .price {
        font-size: 14px;
    }

    .mainPrice {
        font-size: 15.5px;
    }
    .OffPrice {
        font-size: 15.5px;

    }
    .priceContainer {
        gap: unset;
    }
    .seller span {
        font-size: 12px;
     
    }
}