.HeaderContainer {
    display: flex;
    height: 88px;
    width: 100%;
    padding: 0 30px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffffff;
    justify-content: space-between;
}

.HeaderRightSide {

    align-items: center;
    width: 80%;
    ;
    gap: 40px;
    height: fit-content;
    display: flex;

}

.HeaderLeftSide {
    width: 20%;
    display: flex;
    justify-content: end;
    gap: 35px;

}

.RJLandLogo {
    margin-top: 10px;
}

@media (min-width:100px) and (max-width: 699px) {
    .RJLandLogo {
        position: absolute;
        z-index: 1;
        margin-right: 8px;

    }

    .RJLandLogo img {
        width: 35px;
        height: 35px;
    }
}

@media (min-width:700px) and (max-width: 1200px) {
    .RJLandLogo img {
        width: 85px;
        height: 85px;
    }
}

@media (min-width:100px) and (max-width: 1000px) {
    .HeaderLeftSide {
        display: none;
    }

    .HeaderRightSide {
        width: 100%;
    }
}