.HeaderContainer {
    display: flex;
    height: 88px;
    width: 100%;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
}

.HeaderRightSide {
    align-items: center;
    flex-basis: 50%;
    gap: 40px;
    height: fit-content;
    display: flex;
  
}
.HeaderLeftSide{
    flex-basis: 50%;
    display: flex;
    justify-content: end;
    gap: 35px;

}
.RJLandLogo{
margin-top: 10px;
}