.searchBoxContainer {
    display: flex;
    position: relative;
    width: 74%;
    height: fit-content;

    .searchIcon {
        z-index: 1;
        position: absolute;
        bottom: 15px;
        color: #757575;

        font-size: 28px;

        width: 75px;
    }

    .searchBox {


        width: 100%;
        height: 57px;
        border-radius: 5px;
        background-color: #f1f1f1;
        padding-right: 60px;
        border: none;
        outline: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        color: #4a4a4a;
    }

    .searchBox::placeholder {
        font-size: 14px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #b1adad;
    }

    .searchBox:focus-visible {
        border: none;
    }


}