.notFoundProduct {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleText {
    margin-top: 33px;
    font-size: 21px;
    margin-bottom: 9px;
}

.text {
    color: rgb(32, 32, 32);
}

@media ((min-width:320px) and (max-width:850px)) {
    .titleText {
        font-size: 16.5px;
    }

    .text {
        font-size: 13px;

    }

    .notFoundProductImg {
        width: 230px;
        height: 203px;
    }

}