
.sliderContainer {

    position: relative;
    height: 430px;

    .imageSlider {
        height: unset;

    }
}
.dots{
   
    li{
       
    }
    button{
    }
    button::before{

    }
   
}
 .dots > li > button {
}
.slick-dots .dots > li > button ::after {
    background-color: aqua;
    
    }