@mixin Media($minWidth , $maxWidth ) {
    @media ((min-width:$minWidth ) and (max-width:$maxWidth)) {
        @content;
    }
}

.NextArrowSlide {
    background-color: #ffffff;
    box-shadow: 0 0 14px -3px rgba(0, 0, 0, .22);
    border-radius: 50%;
    height: 8%;
    width: 2%;
    margin: auto;
    z-index: 1;
    color: #999999;
    position: absolute;
    bottom: 15%;
    margin-right: 2%;
    right: 0%;

    @include Media(1300px, 4000px) {
        right: 1%;
    }

    @include Media(500px, 700px) {
        right: 2%;
    }

    @include Media(320px, 500px) {
        right: 3% !important;
    }
}


.PrevArrowSlide {
    @include Media(300px, 500px) {
        right: 6% !important;
    }

    @include Media(500px, 700px) {
        right: 3% !important;
    }

    position: absolute;
    bottom: 15%;
    right: 2%;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 14px -3px rgba(0, 0, 0, .22);
    height: 8%;
    width: 2%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
    z-index: 1;
    color: #999999;
}

.arrow {


    @include Media(1000px, 1300px) {
        height: 9%;
        width: 2.3%;
        bottom: 18%;


    }

    @include Media(700px, 1000px) {
        height: 10%;
        width: 2.5%;
        bottom: 20%;


    }

    @include Media(500px, 700px) {
        height: 9%;
        width: 2.5%;
        bottom: 22%;

    }

    @include Media(300px, 500px) {
        height: 8.5%;
        width: 3%;
        bottom: 21%;


    }
}