.profileContainer {
    display: flex;
    width: 80%;
    margin: 50px auto 14% auto;

}

.rightSide {
    display: flex;
    gap: 4%;
    flex-direction: column;
    cursor: pointer;
    flex-basis: 20%;
}

.profile {
    display: flex;
    color: #151515;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}

.profileIcon {
    margin-left: 10px;
    font-size: 24px;
}

.profileContent {
    display: flex;
    color: #385086;
    font-size: 16px;
    font-weight: 600;
    align-items: center;

}

.EyeIcon {
    margin-left: 10px;
    font-size: 23px;

}

.ExitIcon {
    margin-left: 10px;
    font-size: 19px;

}

.leftSide {
    flex-basis: 80%;
    border: 1px solid rgb(235 235 235 / 57%);
    height: fit-content;
    /* border: 1px solid #efefef; */
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.constructionContainer {
    width: 100%;
    height: fit-content;

}

.construction {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-auto-rows: 1fr;
}

.Specifications {
    background-color: #f8fbff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 1px solid rgb(235 235 235 / 57%);
    padding-right: 40px;
}

.Specifications p {
    font-size: 14.5px;
    color: #545454;
    font-weight: 600;
    text-shadow: 0px 0px 20px #9bbaff;
}

.Specifications span {
    padding-right: 20px;
    font-size: 14px;
    color: #003678;

}

@media ((min-width:1035px) and (max-width:1500px)) {
    .Specifications {
        height: 85px;
    }

    .Specifications p {
        font-size: 12.5px;
    }

    .Specifications span {
        font-size: 11.5px;
    }
}

@media ((min-width:668px) and (max-width:1035px)) {
    .Specifications {
        height: 70px;
    }

    .Specifications p {
        font-size: 11px;
    }

    .profileContainer {
        width: 93%;
    }

    .Specifications span {
        font-size: 10.5px;
    }

    .profile {
        font-size: 15px;
    }

    .profileIcon {
        margin-left: 8px;
        font-size: 20px;
    }

    .profileContent {
        font-size: 13px;
    }

    .ExitIcon {
        margin-left: 7px;
        font-size: 17px;

    }
}

@media ((min-width:300px) and (max-width:668px)) {
    .Specifications {
        height: 55px;
        width: 95%;
        padding-right: 13px;
    }

    .Specifications p {
        font-size: 10px;
    }

    .Specifications span {
        font-size: 9.5px;
    }

    .profileContainer {
        width: 99%;
        display: block;
    }

    .leftSide {
        border: none;
    }

    .profile {
        font-size: 15px;
    }

    .profileIcon {
        margin-left: 9px;
        font-size: 21px;
    }

    .profileContent {
        font-size: 12px;
    }

    .ExitIcon {
        margin-left: 8px;
        font-size: 16px;

    }

    .rightSide {
        width: 93%;
        flex-direction: row;
        margin-bottom: 5px;
        justify-content: space-between;
    }
}